<!--We pass the User model from the controlle-->
@model UserList.Models.User
<!--We have to check it is add or edit using Model.ID-->

<br />
<h2 class="text-info">@(Model.ID!=0 ? "Edit" : "Create") User</h2>
<br />

<div class="border container" style="padding:30px;">
    <form>
        @if (Model.ID != 0)
        {
            <input asp-for="ID" type="hidden" id="id" />
        }
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <!--Name-->
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Name"></label>
            </div>
            <div class="col-6">
                <input  id="name" asp-for="Name" class="form-control" />
                <!--To display the validation error-->
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <!--Age-->
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Age"></label>
            </div>
            <div class="col-6">
                <input id="age" asp-for="Age" class="form-control" />
                <!--To display the validation error-->
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
        </div>
        <!--City-->
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="City"></label>
            </div>
            <div class="col-6">
                <input id="city" asp-for="City" class="form-control" />
                <!--To display the validation error-->
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <!--Add or Update-->
            <div class="col-3 offset-3">
                <button type="button" onclick="BtnClick()" class="btn btn-outline-primary form-control">
                    @(Model.ID != 0 ? "Update" : "Create")
                </button>
            </div>
            <!--Back to List-->
            <div class="col-3">
                <a asp-action="Index" class="btn btn-outline-success form-control">Back to List</a>
            </div>
        </div>
    </form>
</div>

<!--Validation in the client side-->
@section Scripts{
    <script>
        function BtnClick() {
            //get the values from the input fields
            var id = $("#id").val();
            var name = $("#name").val();
            var age =$("#age").val();
            var city = $("#city").val();


            var obj = {
                ID: id,
                Name: name,
                Age: age,
                City: city

            }

            //call the submitForm and pass the parameter
            SubmitForm(obj)
        }

        function SubmitForm(obj) {
            $.ajax({
                url: "/Users/Upsert",
                method: "POST",
                data: obj,
                success: function (data) {
                    if (data.success) {
                        toastr.success(data.message);
                        setInterval('location.reload()', 1000);
                    } else {
                        toastr.error(data.message);
                    }
                }
            }) 
        }
    </script>
    <partial name="_ValidationScriptsPartial" />
}

